doctype html
html
    head
        title= title
        link(rel='stylesheet', type='text/css', href='/semantic/semantic.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/js/jquery.js')
        script(src='semantic/semantic.js')
    body
        block content
            div(class='container')
                div(class='row')
                    h1 hello world